
html,
#app,
body {
  height: 100%
  color:#E53333 !important
}
html { overflow-y: hidden; }

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 225px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #00695C; */
  background-color:transparent
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Style page content */
#map {
  margin-left: 0px;
  height: 100%;
  background-color: lightgray;
}
