<!DOCTYPE html>
<html>

<head>
  <title>Scientific Chicken Dinner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/openlayers@4.6.4/dist/ol.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <link rel="stylesheet" href="./app.css" />

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/openlayers"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="projection.js"></script>
</head>

<body>
  <div id="app">
    <div class="sidenav">
      <section class="section">
        <h1 class="title">Scientific Chicken Dinner</h1>
        <p class="subtitle">Winners are <strong>victorious</strong>!</p>
        <!-- <div class="field is-grouped">
          <a class="button is-small">Button</a>
          <a class="button is-small">Button2</a>
        </div> -->
        <label class="label">Map:</label>
        <input type="radio" id="erangel" value="erangel" v-model="mapType">
        <label for="erangel">Erangel</label>
        <input type="radio" id="miramar" value="miramar" v-model="mapType">
        <label for="miramar">Miramar</label>
        <br>
        <br>
        <label class="label">Map Options:</label>
        <input type="checkbox" id="followme" v-model="followMe">
        <label for="followme">Follow Me</label>
        <br>
        <input type="checkbox" id="showbox" v-model="showBox">
        <label for="showbox">Death Crates</label>
        <br>
        <input type="checkbox" id="showairdrop" v-model="showAirDrop">
        <label for="showairdrop">Air Drop</label>
        <br>
        <input type="checkbox" id="showcar" v-model="showCar">
        <label for="showcar">Vehicles</label>
        <br>
        <br>
        <label class="label" v-on:dblclick="showNoItems">Item Options:</label>
        <input type="checkbox" id="showitemtop" v-model="showItemTop">
        <label for="showitemtop">Level 3</label>
        <br>
        <input type="checkbox" id="showitemduo" v-model="showItemDuoDuo">
        <label for="showitemduo">Level 2</label>
        <br>
        <input type="checkbox" id="showitembasic" v-model="showItemBasic">
        <label for="showitembasic">Level 1</label>
        <br>
        <input type="checkbox" id="showitemar" v-model="showItemAR">
        <label for="showitemar">AR-Related</label>
        <input type="checkbox" id="showitemsr" v-model="showItemSR">
        <label for="showitemsr">SR-Related</label>
        <br>
        <input type="checkbox" id="showitemhealth" v-model="showItemHealth">
        <label for="showitemhealth">Meds</label>
        <input type="checkbox" id="showitemthrow" v-model="showItemThrow">
        <label for="showitemthrow">Throwables</label>
        <input type="checkbox" id="showitemammo" v-model="showItemAmmo">
        <label for="showitemammo">Ammo</label>
        <br>
        <input type="checkbox" id="showitemall" v-model="showItemAll">
        <label for="showitemall">All</label>
        <hr>
        <a class="button is-small" @click="setFPS(1)">fps1</a>
        <a class="button is-small" @click="setFPS(5)">fps5</a>
        <a class="button is-small" @click="setFPS(15)">fps15</a>
        <!-- <a class="button is-small" @click="toggleRefresh">{{ toggleButtonText }}</a>
        <br> -->
        <br>
        <br>
        <span>Game Start: {{ gameStartTime }}</span>
        <br>
        <span>Last Packet: {{ lastPacketTime }}</span>
        <br>
        <span>{{ coordinate }}</span>
      </section>

    </div>
    <div id="map"></div>
  </div>

  <script src="app.js"></script>
</body>

</html>
